.applications {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    
}

.applications h1{
    text-align: center;
    color: #8a996c;
}


.pagination {
    position: absolute;
    bottom: 0;

}

