.dashboard {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard__item {
    width: 50%;
}

.dashboard-diagrams {
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px;
}