.process-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.process-page a {
    padding: 10px 12px;
    display: block;
}

.process-action-btn { 
    background-color: white;
}

.process-action-btn:hover svg{
    fill: red;
    transform: scale(2);
    transition: all 0.5s ease-in-out;
}