.application-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
}

.application-item div {
    flex-basis: 25%;
    text-align: center;
}

.role {
    font-weight: 700;

}

.role_link {
    text-decoration: none;
    color: black;
    font-weight: 700
}

.status {
    justify-self:center;
    position: relative;
}

